<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aa_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,0},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{122,121}}</string>
                <key>sourceSize</key>
                <string>{134,167}</string>
            </dict>
            <key>aa_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{92,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{92,131}}</string>
                <key>sourceSize</key>
                <string>{134,167}</string>
            </dict>
            <key>aa_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,621},{100,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,31},{100,107}}</string>
                <key>sourceSize</key>
                <string>{134,167}</string>
            </dict>
            <key>aa_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,743},{110,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,25},{110,117}}</string>
                <key>sourceSize</key>
                <string>{134,167}</string>
            </dict>
            <key>aa_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,0},{134,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{134,121}}</string>
                <key>sourceSize</key>
                <string>{134,167}</string>
            </dict>
            <key>aa_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,0},{134,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{134,117}}</string>
                <key>sourceSize</key>
                <string>{134,167}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,121},{120,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,117},{120,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pt_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,621},{98,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{98,163}}</string>
                <key>sourceSize</key>
                <string>{100,167}</string>
            </dict>
            <key>pt_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,746},{94,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{94,125}}</string>
                <key>sourceSize</key>
                <string>{100,167}</string>
            </dict>
            <key>pt_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,825},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,167}</string>
            </dict>
            <key>pt_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,912},{100,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{100,107}}</string>
                <key>sourceSize</key>
                <string>{100,167}</string>
            </dict>
            <key>pt_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,621},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,167}</string>
            </dict>
            <key>pt_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,405},{100,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{100,137}}</string>
                <key>sourceSize</key>
                <string>{100,167}</string>
            </dict>
            <key>pt_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,728},{100,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{100,97}}</string>
                <key>sourceSize</key>
                <string>{100,167}</string>
            </dict>
            <key>pt_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,912},{100,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{100,107}}</string>
                <key>sourceSize</key>
                <string>{100,167}</string>
            </dict>
            <key>pt_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,860},{100,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{100,97}}</string>
                <key>sourceSize</key>
                <string>{100,167}</string>
            </dict>
            <key>pt_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,621},{94,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{94,125}}</string>
                <key>sourceSize</key>
                <string>{100,167}</string>
            </dict>
            <key>ss_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,121},{114,188}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,188}}</string>
                <key>sourceSize</key>
                <string>{126,190}</string>
            </dict>
            <key>ss_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,241},{114,164}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{114,164}}</string>
                <key>sourceSize</key>
                <string>{126,190}</string>
            </dict>
            <key>ss_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,465},{114,156}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{114,156}}</string>
                <key>sourceSize</key>
                <string>{126,190}</string>
            </dict>
            <key>ss_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,401},{114,156}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{114,156}}</string>
                <key>sourceSize</key>
                <string>{126,190}</string>
            </dict>
            <key>ss_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,784},{114,128}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,59},{114,128}}</string>
                <key>sourceSize</key>
                <string>{126,190}</string>
            </dict>
            <key>ss_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,871},{114,118}}</string>
                <key>offset</key>
                <string>{-6,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{114,118}}</string>
                <key>sourceSize</key>
                <string>{126,190}</string>
            </dict>
            <key>ss_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,621},{114,122}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{114,122}}</string>
                <key>sourceSize</key>
                <string>{126,190}</string>
            </dict>
            <key>ss_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,254},{114,128}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,59},{114,128}}</string>
                <key>sourceSize</key>
                <string>{126,190}</string>
            </dict>
            <key>ss_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,309},{114,156}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,31},{114,156}}</string>
                <key>sourceSize</key>
                <string>{126,190}</string>
            </dict>
            <key>ss_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,237},{114,164}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{114,164}}</string>
                <key>sourceSize</key>
                <string>{126,190}</string>
            </dict>
            <key>yweng.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,127},{601,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,127}}</string>
                <key>sourceSize</key>
                <string>{601,127}</string>
            </dict>
            <key>ywrus.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{601,127}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,127}}</string>
                <key>sourceSize</key>
                <string>{601,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>basic2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e357e3a4c8dbc3572c251eec4d33585$</string>
            <key>textureFileName</key>
            <string>basic2.png</string>
        </dict>
    </dict>
</plist>
