<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Select1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,123},{492,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{492,123}}</string>
			<key>sourceSize</key>
			<string>{492,123}</string>
		</dict>
		<key>Select10.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{492,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{492,123}}</string>
			<key>sourceSize</key>
			<string>{492,123}</string>
		</dict>
		<key>Select2.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,0},{492,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{492,123}}</string>
			<key>sourceSize</key>
			<string>{492,123}</string>
		</dict>
		<key>Select3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,367},{492,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{492,121}}</string>
			<key>sourceSize</key>
			<string>{492,121}</string>
		</dict>
		<key>Select4.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,365},{492,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{492,121}}</string>
			<key>sourceSize</key>
			<string>{492,121}</string>
		</dict>
		<key>Select5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,488},{491,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{491,121}}</string>
			<key>sourceSize</key>
			<string>{491,121}</string>
		</dict>
		<key>Select6.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,486},{491,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{491,121}}</string>
			<key>sourceSize</key>
			<string>{491,121}</string>
		</dict>
		<key>Select7.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,246},{492,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{492,121}}</string>
			<key>sourceSize</key>
			<string>{492,121}</string>
		</dict>
		<key>Select8.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,244},{492,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{492,121}}</string>
			<key>sourceSize</key>
			<string>{492,121}</string>
		</dict>
		<key>Select9.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,123},{492,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{492,121}}</string>
			<key>sourceSize</key>
			<string>{492,121}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>select.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>select.png</string>
	</dict>
</dict>
</plist>
