<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nebo1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,207},{1024,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{1024,199}}</string>
                <key>sourceSize</key>
                <string>{1024,207}</string>
            </dict>
            <key>nebo1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,207}}</string>
                <key>sourceSize</key>
                <string>{1024,207}</string>
            </dict>
            <key>nebo1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{1024,195}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{1024,195}}</string>
                <key>sourceSize</key>
                <string>{1024,207}</string>
            </dict>
            <key>ostrov1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,872},{504,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,116}}</string>
                <key>sourceSize</key>
                <string>{504,116}</string>
            </dict>
            <key>ostrov2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,881},{280,129}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{280,129}}</string>
                <key>sourceSize</key>
                <string>{286,131}</string>
            </dict>
            <key>ostrov2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,601},{280,131}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{280,131}}</string>
                <key>sourceSize</key>
                <string>{282,131}</string>
            </dict>
            <key>ostrov3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,601},{271,155}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,155}}</string>
                <key>sourceSize</key>
                <string>{275,155}</string>
            </dict>
            <key>ostrov3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,601},{270,155}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{270,155}}</string>
                <key>sourceSize</key>
                <string>{276,155}</string>
            </dict>
            <key>solnce.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,601},{252,219}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{252,219}}</string>
                <key>sourceSize</key>
                <string>{256,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level1_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>level1_2.png</string>
        </dict>
    </dict>
</plist>
