<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,665},{49,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,69}}</string>
                <key>sourceSize</key>
                <string>{49,69}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,508},{28,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,74}}</string>
                <key>sourceSize</key>
                <string>{28,74}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,827},{60,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,275},{55,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,74}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,222},{66,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,274},{58,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,71}}</string>
                <key>sourceSize</key>
                <string>{58,71}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,647},{58,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,75}}</string>
                <key>sourceSize</key>
                <string>{58,75}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,827},{73,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,78}}</string>
                <key>sourceSize</key>
                <string>{73,78}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,647},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,82}}</string>
                <key>sourceSize</key>
                <string>{60,82}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,901},{58,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{58,76}</string>
            </dict>
            <key>Live1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,470},{22,20}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{50,20}</string>
            </dict>
            <key>Live2.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,0},{38,20}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{38,20}}</string>
                <key>sourceSize</key>
                <string>{50,20}</string>
            </dict>
            <key>Live3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,339},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,20}}</string>
                <key>sourceSize</key>
                <string>{50,20}</string>
            </dict>
            <key>apple1.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,470},{31,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{31,39}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>apple2.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,977},{45,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{45,45}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>apple3.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,832},{59,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{59,59}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>apple4.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,827},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>apple5.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,573},{55,37}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{55,37}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,832},{58,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{58,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>bomb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,275},{145,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,94}}</string>
                <key>sourceSize</key>
                <string>{145,94}</string>
            </dict>
            <key>bomb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,13},{187,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,167}}</string>
                <key>sourceSize</key>
                <string>{187,167}</string>
            </dict>
            <key>bomb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,217},{239,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,122}}</string>
                <key>sourceSize</key>
                <string>{239,122}</string>
            </dict>
            <key>bomb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,508},{152,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,154}}</string>
                <key>sourceSize</key>
                <string>{152,154}</string>
            </dict>
            <key>bonus1.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,27},{156,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,27},{156,115}}</string>
                <key>sourceSize</key>
                <string>{180,169}</string>
            </dict>
            <key>bonus2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,339},{180,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,169}}</string>
                <key>sourceSize</key>
                <string>{180,169}</string>
            </dict>
            <key>bonus3.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,611},{132,109}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{132,109}}</string>
                <key>sourceSize</key>
                <string>{180,169}</string>
            </dict>
            <key>bonus4.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,554},{106,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{106,105}}</string>
                <key>sourceSize</key>
                <string>{180,169}</string>
            </dict>
            <key>box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,142},{145,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,84}}</string>
                <key>sourceSize</key>
                <string>{145,84}</string>
            </dict>
            <key>box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,180},{155,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,95}}</string>
                <key>sourceSize</key>
                <string>{155,95}</string>
            </dict>
            <key>box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,730},{129,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,56}}</string>
                <key>sourceSize</key>
                <string>{129,56}</string>
            </dict>
            <key>cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,226},{120,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>chaika1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,582},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>chaika2.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,906},{23,13}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{23,13}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>chaika3.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,13},{29,13}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{29,13}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>chaika4.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,906},{23,13}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{23,13}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>check.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,684},{36,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{36,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>duck_dyn1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,560},{95,105}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{95,105}}</string>
                <key>sourceSize</key>
                <string>{147,127}</string>
            </dict>
            <key>duck_dyn1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,369},{101,121}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{101,121}}</string>
                <key>sourceSize</key>
                <string>{147,127}</string>
            </dict>
            <key>duck_dyn1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,27},{147,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{147,119}}</string>
                <key>sourceSize</key>
                <string>{147,127}</string>
            </dict>
            <key>duck_dyn2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,367},{77,103}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,11},{77,103}}</string>
                <key>sourceSize</key>
                <string>{147,127}</string>
            </dict>
            <key>duck_dyn2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,786},{99,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{99,127}}</string>
                <key>sourceSize</key>
                <string>{147,127}</string>
            </dict>
            <key>duck_dyn2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,786},{147,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,127}}</string>
                <key>sourceSize</key>
                <string>{147,127}</string>
            </dict>
            <key>duck_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,296},{57,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,40}}</string>
                <key>sourceSize</key>
                <string>{57,40}</string>
            </dict>
            <key>duck_kill1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,611},{137,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{137,119}}</string>
                <key>sourceSize</key>
                <string>{137,123}</string>
            </dict>
            <key>duck_kill1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,369},{137,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,123}}</string>
                <key>sourceSize</key>
                <string>{137,123}</string>
            </dict>
            <key>duck_kill2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,490},{137,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{137,121}}</string>
                <key>sourceSize</key>
                <string>{137,123}</string>
            </dict>
            <key>duck_kill2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,492},{137,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{137,119}}</string>
                <key>sourceSize</key>
                <string>{137,123}</string>
            </dict>
            <key>duck_move.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,923},{93,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{93,101}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>duck_stay.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,348},{75,99}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{75,99}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>duck_strel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,268},{87,99}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{87,99}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>duck_strel10.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,665},{77,105}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{77,105}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>duck_strel11.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,611},{89,109}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{89,109}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>duck_strel12.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,905},{113,111}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{113,111}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>duck_strel13.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,237},{113,111}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{113,111}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>duck_strel14.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,913},{113,111}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{113,111}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>duck_strel15.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,344},{113,105}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{113,105}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>duck_strel16.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,111},{113,111}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{113,111}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>duck_strel17.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,0},{113,111}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{113,111}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>duck_strel18.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,348},{113,107}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{113,107}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>duck_strel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,923},{85,101}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{85,101}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>duck_strel3.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,169},{79,105}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{79,105}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>duck_strel4.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,770},{77,101}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{77,101}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>duck_strel5.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,760},{77,101}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{77,101}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>duck_strel6.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,722},{77,105}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{77,105}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>duck_strel7.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,722},{85,105}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{85,105}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>duck_strel8.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,455},{77,105}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{77,105}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>duck_strel9.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,659},{77,101}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{77,101}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,786},{120,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,827},{120,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>pula.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,274},{24,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,70}}</string>
                <key>sourceSize</key>
                <string>{24,70}</string>
            </dict>
            <key>shoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,720},{66,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>shoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,720},{66,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>strelaet_pramo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,169},{87,99}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{87,99}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>strelaet_pramo10.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,470},{113,103}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{113,103}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>strelaet_pramo11.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,720},{119,107}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{119,107}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>strelaet_pramo12.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,913},{113,111}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{113,111}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>strelaet_pramo13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,913},{117,111}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,111}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>strelaet_pramo14.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,237},{117,107}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{117,107}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>strelaet_pramo15.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,322},{115,103}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{115,103}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>strelaet_pramo16.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,524},{113,99}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{113,99}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>strelaet_pramo17.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,455},{113,99}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{113,99}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>strelaet_pramo18.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,449},{113,99}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{113,99}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>strelaet_pramo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,729},{85,103}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{85,103}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>strelaet_pramo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,720},{85,107}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{85,107}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>strelaet_pramo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,573},{85,111}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{85,111}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>strelaet_pramo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,729},{85,103}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{85,103}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>strelaet_pramo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,548},{107,99}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{107,99}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>strelaet_pramo7.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,425},{113,99}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{113,99}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>strelaet_pramo8.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,623},{97,99}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{97,99}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>strelaet_pramo9.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,367},{113,103}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{113,103}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>thumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,734},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>thumbline.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,0},{386,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,13}}</string>
                <key>sourceSize</key>
                <string>{386,13}</string>
            </dict>
            <key>tnt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,146},{141,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,91}}</string>
                <key>sourceSize</key>
                <string>{141,91}</string>
            </dict>
            <key>tnt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,662},{160,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,124}}</string>
                <key>sourceSize</key>
                <string>{160,124}</string>
            </dict>
            <key>tnt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{255,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,217}}</string>
                <key>sourceSize</key>
                <string>{255,217}</string>
            </dict>
            <key>tnt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,13},{166,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,156}}</string>
                <key>sourceSize</key>
                <string>{166,156}</string>
            </dict>
            <key>uncheck.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,684},{36,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{36,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,0},{231,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,27}}</string>
                <key>sourceSize</key>
                <string>{231,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>basic.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dde0d43bb381900fb7e8cc7934229871$</string>
            <key>textureFileName</key>
            <string>basic.png</string>
        </dict>
    </dict>
</plist>
