<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hunt_kill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,668},{131,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,86},{131,73}}</string>
                <key>sourceSize</key>
                <string>{181,245}</string>
            </dict>
            <key>hunt_kill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,595},{137,73}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,85},{137,73}}</string>
                <key>sourceSize</key>
                <string>{181,245}</string>
            </dict>
            <key>hunt_kill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,799},{109,115}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,64},{109,115}}</string>
                <key>sourceSize</key>
                <string>{181,245}</string>
            </dict>
            <key>hunt_kill4.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,245},{117,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,32},{117,181}}</string>
                <key>sourceSize</key>
                <string>{181,245}</string>
            </dict>
            <key>hunt_kill5.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,362},{159,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{159,233}}</string>
                <key>sourceSize</key>
                <string>{181,245}</string>
            </dict>
            <key>hunt_kill6.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,0},{181,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,245}}</string>
                <key>sourceSize</key>
                <string>{181,245}</string>
            </dict>
            <key>hunter4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{834,614}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,29},{834,614}}</string>
                <key>sourceSize</key>
                <string>{880,644}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>h4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>h4.png</string>
        </dict>
    </dict>
</plist>
