<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>derevo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,466},{421,431}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,431}}</string>
                <key>sourceSize</key>
                <string>{421,431}</string>
            </dict>
            <key>derevo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{911,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{911,450}}</string>
                <key>sourceSize</key>
                <string>{911,450}</string>
            </dict>
            <key>derevo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,450},{421,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,423}}</string>
                <key>sourceSize</key>
                <string>{421,423}</string>
            </dict>
            <key>koraga.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,0},{236,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,100}}</string>
                <key>sourceSize</key>
                <string>{236,100}</string>
            </dict>
            <key>oblako1.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,258},{208,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,55}}</string>
                <key>sourceSize</key>
                <string>{208,55}</string>
            </dict>
            <key>oblako2.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,236},{73,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,22}}</string>
                <key>sourceSize</key>
                <string>{73,22}</string>
            </dict>
            <key>oblako3.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,258},{207,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,55}}</string>
                <key>sourceSize</key>
                <string>{207,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>level2.png</string>
        </dict>
    </dict>
</plist>
