<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>liliya-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,768},{333,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,179}}</string>
                <key>sourceSize</key>
                <string>{333,179}</string>
            </dict>
            <key>liliya-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,947},{117,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,63}}</string>
                <key>sourceSize</key>
                <string>{117,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level9.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>level9.png</string>
        </dict>
    </dict>
</plist>
